<% if book.errors.any? %>
  <div id="error_explanation">
    <h2>
    <font color="red">
      <%= I18n.t("errors.messages.not_saved",
                 count: book.errors.count,
                 resource: book.class.model_name.human.downcase)
       %>
     </font>
    </h2>
    <ul>
      <% book.errors.full_messages.each do |message| %>
        <li> <font color="red"><%= message %></font></li>
      <% end %>
    </ul>
  </div>
<% end %>
